.header {
  padding: 0 0 5rem 0;
  display: flex;
  position: relative;
  align-items: center;
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20rem;
    height: 90vh;
    color: $color-white;
    width: 100%;
    & > * {
      margin-bottom: 1.6rem;
      text-align: center;
    }
    & .heading-1 {
      font-weight: 700;
    }
    & .form {
      width: 80%;
      margin-top: 2rem;
      & .input-group {
        display: flex;
        position: relative;
        & .input {
          width: 100%;
          &__btn {
            position: absolute;
            right: 0;
            & svg {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }

  &__image {
    height: 90vh;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    background-image: url('https://images.unsplash.com/photo-1533031403683-9f53b30187bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    background-position: center;
    z-index: -1;
    &::after {
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      background-color: rgba($color-black, 0.65);
      height: 100%;
      width: 100%;
    }
  }
}

.books {
  padding: 5rem 20rem;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.2rem;
    & .paragraph:nth-of-type(2) {
      font-weight: 600;
      color: $color-secondary;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    &__card {
      & .heading-5 {
        margin-bottom: 0.8rem;
      }
      &__image {
        height: 30rem;
        margin-bottom: 1.6rem;
      }
      &__icon {
        display: flex;
        margin-bottom: 0.8rem;
        & svg {
          height: 1.6rem;
          width: 1.6rem;
          fill: #bf0000;
        }
      }
      &__btn {
        background-color: $color-secondary;
      }
    }
  }
}

.featured {
  display: flex;
  flex-direction: column;
  padding: 10rem 20rem 15rem 20rem;
  position: relative;
  width: 100%;
  &__bg {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    padding: 15rem 0 0 0;
    &__image {
      height: 70%;
      width: 85%;
      float: right;
      opacity: 0.7;
    }
  }
  &__badge {
    display: inline-block;
    margin-bottom: 1.6rem;
  }
  &__row {
    display: flex;
    &__image {
      width: 40%;
      &__cover {
        height: 50rem;
        width: 40rem;
      }
    }

    &__text {
      width: 36%;
      & > *:not(:last-child) {
        margin-bottom: 1.6rem;
      }
      &__icon {
        display: flex;
        margin-bottom: 1.6rem;
        & svg {
          height: 1.6rem;
          width: 1.6rem;
          fill: #bf0000;
        }
      }
      &__btn {
        background-color: $color-primary;
      }
    }
  }
}
